body {
  padding: 0px;
  margin: 0px;
}

div {
  height: 100px;
  width: 100px;
  float: left;
  background-color: blue;
}

#canvas {
  margin: auto;
  width: auto;
  background-color: green;
  overflow: hidden;
}

.changed {
  background-color: green;
}

section {
  width: 100%;
  background-color: lightgrey;
  position: fixed;
  bottom: 0;
  padding: 20px;
  border-top: 1px solid grey;
}
